.hero {
	width: 100%;
	max-width: min(100%, 80rem);
	margin-top: 15%;
}

.headline {
	max-width: 100%;
	margin: 0;
	font-size: clamp(2.25rem, min(7vw, 10svh), 6rem);
	line-height: 0.95;
	font-weight: 500;
	letter-spacing: -0.04em;
}

.description {
	max-width: min(70vw, 52rem);
	margin: clamp(1rem, 3svh, 2rem) 0 0;
	font-size: clamp(1rem, min(2vw, 3svh), 2rem);
	line-height: 1.3;
}
