.layout {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;

	padding: var(--site-padding);
	background-color: var(--color-background);
	color: var(--color-text);

	box-sizing: border-box;
}

.main {
	flex: 1;
}
